<%- include('menu') -%>
			<title>Vásárlás</title>
		<div class="container main-content">
			<div class="card">
				<table class="table">
					<caption style="text-align:right; padding-right:10px;">Kiválasztott ajánlat</caption>
					<thead class="bg-light">
						<tr>
							<th id="bal">Hirdetés címe</th><th>Márka</th><th>Állapot</th><th>Ár</th><th>Település</th><th>Dátum</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= ad.title %></td>
							<td><%= ad.brand %></td>
							<td><%= ad.state %></td>
							<td><%= ad.price %> Ft</td>
							<td><%= ad.city %></td>
							<td><%= ad.date %></td>
						</tr>
						<tr>
							<th rowspan="3">Leírás</th>
							<td colspan="5" rowspan="3"><%= ad.description %></td>
						</tr>
					</tbody>
					</table>
			</div>
				<div class="card-footer-sm">
					<fieldset>
						<table class="table table-sm table-secondary table-borderless">
						<tr>
							<th>Kapcsolatfelvétel</th>
						</tr>
						<tr>
							<th id="rgt">Név:</th>
							<td id="lft"><%= user.lname + ' ' + user.fname %></td>
							<th id="rgt">telefon:</th>
							<td id="lft"><%= user.phone %></td>
							<th id="rgt">e-mail:</th>
							<td id="lft"><%= user.email %></td>
						</tr>
						</table>
					</fieldset>
				</div>
				<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
				<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
			</div>
			</body>
<%-include('footer')-%>
</html>
