<%- include('menu') -%>
	<title>Hirdetés módosítása</title>
	<div class="container main-content">
		<h1>Módosítsa hirdetését, ahol szeretné</h1>
    </div>
	<br/>
	<div class="container main-content">
		<div class="card-header">
			<caption style="text-align:right; padding-right:10px;">Módosítani kívánt hirdetés</caption>
		</div>
		<form action="/hirdetes/<%= regUser._id %>/edit/<%= ad._id %>/modified" method="post" name="ad">
		<div class="card-body">
				<fieldset>
					<legend>A hirdetés címe</legend>
					<input type="text" name="cim" id="cim" cols="45" rows="1" value="<%= ad.title %>" maxlength="90" >
				</br>
				</fieldset>
			</br>
			<fieldset>
				<legend>Adatok</legend>
				<label id="textl" for="marka">Márka:</label>
				<input type="text" name="marka" id="marka" maxlength="40" value="<%= ad.brand %>" />
			<br/>
				<label id="textl" for="allapot">Állapot:</label>
				<select class="form-control-md" style="width:14%" name="allapot" id="allapot" size=1 >
					<option value="normal" <% if( ad.state === 'normál') { %> selected <% } %> >normál</option>
					<option value="ujszeru" <% if( ad.state === 'újszerű') { %> selected <% } %> >újszerű</option>
					<option value="viseletes" <% if( ad.state === 'viseletes') { %> selected <% } %> >viseletes</option>
					<option value="serult"<% if( ad.state === 'sérült') { %> selected <% } %>  >sérült</option>
				</select>
			<br/>
				<label id="textl" for="ar">Ár (Ft):</label>
				<input type="text" name="ar" id="ar" placeholder="csak egész szám pl.:50" maxlength="8" pattern="[0-9]{1,}" value="<%= ad.price %>" />
			<br/>
			</fieldset>
		</div>
	</br>
	<div class="card-footer">
		<fieldset>
			<legend>Leírás</legend>
			<textarea name="leiras" id="leiras" cols="70" rows="4" maxlength="250"><%= ad.description %></textarea>
		</fieldset>
	</div>
	<br/>
		<input type="submit" class="btn btn-primary" value="Módosítás" name="editad" />
	</form>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	</div>
</body>
<%- include('footer') -%>
</html>
