<%- include('menu') -%>
	<div class="container main-content">
		<title>Profil</title>
		<div class="card-header-md bg-light" >
			<div class="card-title text-dark" style="font-size:26px; padding:44px;">S
				zemélyes adatok
			</div>
		</div>
		<div class="card-body-sm" id="cardpad" style="position:relative; left:100px;">
			<img src="profile.png" style="display:block; float:left;" height="207" width="231">
			<table class="table-light table" style="width:50%; height:300px;">
				<tr><th id="textl">Név:</th><td><%= %></td><tr>
				<tr><th id="textl">E-mail:</th><td><%= %></td><tr>
				<tr><th id="textl">Lakhely:</th><td><%= %></td><tr>
				<tr><th id="textl">Telefonszám:</th><td><%= %></td><tr>
				<tr><td id="textl" colspan="2"><a class="btn btn-warning" href="/profil/<%= regUser._id %>">Módosítani szeretném az adataimat</a></td></tr>
			</table>
<br/>
		</div>
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</div>
<%- include('footer') -%>
</html>
